<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<link rel="stylesheet" type="text/css" href="/css/join.css">
<script>
	function checkPw() {
		var password = $('#password').val();
		var id = $('#id').val();

		$.ajax({
			url: "checkPw",
			type: 'post',
			data: {
				"id": id,
				"password": password
			},
			success: function (data) {
				if (data.result === 'true') {
					$('#checkPasswordForm').submit();
				} else {
					alert("비밀번호가 틀립니다.");
					$('#password').val("");
					$('#password').focus();
				}


			},
			error: function () {
				alert("error");
			}
		});
	}
</script>

<body>
	<div id="wrap">
		<div class="checkPassword_container">
			<div class="checkPassword_massage">
			<h2>본인 확인을 위해 비밀번호를 입력해 주세요</h2>
			
			</div>
			<form id="checkPasswordForm" name="checkPasswordForm" th:action="@{/mypage/passwordOk}" method="post">

				<label for="password">비밀번호 :</label>
				<input type="password" id="password" name="password" required>

				<input type="hidden" id="id" name="id" th:value="${member.id}" disabled>
				
				<input type="hidden" name="select" th:value="${param.select}">


				<input type="button" value="확인" onclick="checkPw()" />
				<input type="button" value="취소" onclick="location.href='/'" />
			</form>
		</div>
	</div>

</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>